.employees-table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-right: 5px;
}

.employees-table-container ul {
  width: 100%;
  margin-top: 5%;
  list-style: none;
}

.employees-table-container ul li {
  display: flex;
  background: white;
  border: 1px;
  width: 100%;
  padding: 20px;
  margin-bottom: 15px;
}

.employees-table-container ul li img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: white;
}

.actions {
}

.actionButton {
  border: 0;
  background: none;
}
